/*commons*/
.text-center {
text-align: center;
}
/*inizio stile header*/
header {
    background-color: lightgray;
}
/*fine stile header*/
/*inizio altezza pfp*/
#profile-pic {
    height: 250px;
}
/*fine altezza pfp*/