/*commons*/
.text-center {
text-align: center;
}

h2 {
    color: goldenrod;
}

h3 {
    font-style: italic;
}
/*fine commons*/
/*inizio stile header*/
header {
    background-color: lightgray;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: goldenrod;
}
/*fine stile header*/
/*inizio altezza pfp*/
#profile-pic {
    height: 250px;
}
/*fine altezza pfp*/

footer {
    border-top: 1px solid goldenrod;
    font-size: 10px;
}